#img_header{
    width: 50%;
    height: 50%;
}
.material-icons {
    color: #6F7DFF
}
.subtitle {
    color: #676F8F
}
.start{
    color: #676F8F;
    font-weight: 300;
    font-size: 22.5px;
}
#new {
    margin-top: 25%;
}
.red{
    margin-top: 10%;
}
.form{
    margin-top: 10%;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 35%;
    background-color: #F7F8FC;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
.sidebar a {
    display: block;
    color: #A3ABCC;
    padding: 16px;
    text-decoration: none;
}
   
.sidebar a.active {
    background-color: #6F7DFF;
    color: black;
}
@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}
@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
}
.box{
    border: 1px solid #C5CBE0;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
}
.btn-small{
    padding: 10px;
}
.box2{
    border: 1px solid #C5CBE0;
    box-sizing: border-box;
    border-radius: 8px;
    justify-content: center;
    height: auto;
    padding: 25px
}
@media screen and (max-width: 700px) {
    #checklist{
        display: none;
    }
}
.lado1{
    margin: 0;
    padding: 0;
    width: 45%;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.cajaprincipal{
    margin: 0;
    padding: 0;
    display: flex;
}
.aside, .bside, .cside{
    width: 50%;
    display: flex;
    align-items: center;
}
.aside{
    height: 92.5vh;
    justify-content: center;
    background-image: url(../Img/day13-it-girl.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cside{
    height: 92.5vh;
    justify-content: center;
    background-image: url(../Img/day11-blackboard.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bside{
    color: #333;
    justify-content: center;
}
@media screen and (max-width: 900px) {
    .cajaprincipal{
        flex-direction: column;
    }
    .aside, .bside, .cside {
        width: 100%;
        height: 50vh;
        justify-content: center;
    }
    .form{
        padding-top: 20%;
    }

}